.section-page {
    width: 100%;
    padding: 20px;
}

.section-header {
    margin-bottom: 20px;
    
}

.course-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.section-container > * {
    flex: 1 1 200px;
    max-width: 200px;
}


.create-section-btn {
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: #d9e7d4;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}


